# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
backend/venv/
backend/db.sqlite3
backend/media/
.env

# Javascript
node_modules/
frontend/node_modules/
frontend/dist/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/Advanced
backend/App
backend/Apps
